body{
    background-color: white;
    width: 80%;
    margin: auto;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 13px;
}
h1{
    text-transform: uppercase;
    color: brown;
    margin-top: 30px;
    border-bottom: 5px solid black;
    width:100%;
}
.shaded{
    background-color: whitesmoke;
    margin: 4px;
    border-radius: 10px;
    padding: 5px;
}
nav{
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
nav ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li{
    float: left;
    padding: 10px 49px;
    background-color: azure;
    border-right: 4px solid white;
}
li a{
    text-decoration: none;
    text-align: center;
    padding: 14px 10px;
}
img{
    padding: 15px;
    width: 500px;
    height: auto;
}
li a:hover{
    background-color: gold;
}

/* FORM STYLING */
.form-group {
    margin-bottom: 6px;/*Distance between elements vertically*/
}

label {
    display: block;
    margin-bottom: 5px;/*Distance between label and form*/
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    margin-left: 225px;
    padding: 15px 30px;
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 0, 0);
}
